.card-header {
   background-color: #437BFF;
 }
 
  .card-title {
   color: white;
   background-color: #437BFF;
   margin: 0 auto;
 }
 
 .form-group {
   margin-bottom: 15px;
 }
 
 label {
   font-weight: bold;
 }
 .alert {
   margin-bottom: 10px;
 }